@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
.pagecontent {
  display: grid;
  width: 100%;
  height: 50rem;
  grid-template-columns: 20.625rem 20.625rem 20.625rem; 
  grid-template-rows: 20.625rem 20.625rem 20.625rem;
  /* grid-gap: 1rem; */
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
  /* background-color: #0043B9; */
}
.bv1{
	background-color: #E08D18;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;
	/* border:1px solid #E08D18; */
	border-top:1px solid #E08D18;
	border-left:1px solid #E08D18;
}
.bv2{
	background-color: #FFFFFF;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;
	border-top:1px solid #E08D18;
}

.bv2_c{
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background:url(images/home/资源%2024@1.5x.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0);
	background-color: #ffffff;
}
.bv4_c{
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background:url(images/home/资源%2025@1.5x.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0);
	background-color: #ffffff;
}
.bv6_c{
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background:url(images/home/资源%2023@1.5x.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0);
	background-color: #ffffff;
}
.bv1_c{
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bv3_c{
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bv5_c{
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.bv2:hover .bv2_c{
	background:url() no-repeat;
	background-size:contain;
	background-position:center;
	color: white;
	background-color: #E08D18;
}
.bv2:hover .bv4_c{
	background:url() no-repeat;
	background-size:contain;
	background-position:center;
	color: white;
	background-color: #E08D18;
}
.bv4:hover .bv4_c{
	background:url() no-repeat;
	background-size:contain;
	background-position:center;
	color: white;
	background-color: #E08D18;
}

.bv2:hover .bv6_c{
	background:url() no-repeat;
	background-size:contain;
	background-position:center;
	color: white;
	background-color: #E08D18;
}
.bv6:hover .bv6_c{
	background:url() no-repeat;
	background-size:contain;
	background-position:center;
	color: white;
	background-color: #E08D18;
}
.bv1:hover .bv1_c{
	background:url(images/home/资源%2021@1.5x.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0);
	background-color: #ffffff;
}

.bv3:hover .bv3_c{
	background:url(images/home/资源%2020@1.5x.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0);
	background-color: #ffffff;
}

/* .bv1:hover .bv5_c{
	background:url(images/home/资源%2022@1.5x.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0);
	background-color: #ffffff;
} */
.bv5:hover .bv5_c{
	background:url(images/home/资源%2022@1.5x.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0);
	background-color: #ffffff;
}
.bv1:hover{
	background-color: #ffffff;
}

.bv2:hover{
	background-image: url();
	background-color: #E08D18;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;
	
}
.bv3{
	background-color: #E08D18;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;
	/* border:1px solid #E08D18; */
	border-top:1px solid #E08D18;
	border-right:1px solid #E08D18;
}
.bv3:hover {
	/* background:url(images/home/资源%2020@1.5x.png) no-repeat; */
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0);
	background-color: #ffffff;
}

.bv4{
	/* background: url(images/home/资源%2025@1.5x.png) no-repeat; */
	/* -moz-background-size:100% 100%;*/
	background-color: #FFFFFF;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;
	border-left:1px solid #E08D18;
	border-bottom:1px solid #E08D18;
}
.bv4:hover{
	
	background-image: url();
	background-color: #E08D18;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;		
}
.bv5{
	background-color: #E08D18;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;
	/* border:1px solid #E08D18; */
	/* border-top:1px solid #E08D18; */
	border-bottom:1px solid #E08D18;
}
.bv5:hover {
	/* background:url(images/home/资源%2022@1.5x.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: rgba(0,0,0,0); */
	background-color: #ffffff;
}
.bv6{
	background-color: #FFFFFF;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;
	border-right:1px solid #E08D18;
	border-bottom:1px solid #E08D18;
	
}
.bv6:hover{
	
}
.bv6:hover{
	background-image: url();
	background-color: #E08D18;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	color: white;
	/* background-color: #ffffff; */
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);

  }
}
@media (min-width: 800px) {
  .page-content {

    grid-template-columns: repeat(4, 1fr);
  }
}
.card{
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
  background-repead: no-repead;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card1 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
  background-repead: no-repead;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card2 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
  background-repead: no-repead;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card3 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
  background-repead: no-repead;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card4 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
  background-repead: no-repead;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card5 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
  background-repead: no-repead;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card6 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
  background-repead: no-repead;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:hover{
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke; */
	background-image: url(https://hugomark.jp/images/home/digital-marketing-1725340_1280.jpg);
	-moz-background-size:100% 100%; 
	background-size:100% 100%;
	background-repead: no-repead;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card2:hover{
	background-image: url(https://hugomark.jp/images/home/digital-marketing-1725340_1280.jpg);
	-moz-background-size:100% 100%; 
	background-size:100% 100%;
	background-repead: no-repead;
}
.card3:hover{
	background-image: url(https://hugomark.jp/images/home/digital-marketing-1725340_1280.jpg);
	-moz-background-size:100% 100%; 
	background-size:100% 100%;
	background-repead: no-repead;
}
.card4:hover{
	background-image: url(https://hugomark.jp/images/home/digital-marketing-1725340_1280.jpg);
	-moz-background-size:100% 100%; 
	background-size:100% 100%;
	background-repead: no-repead;
}
.card5:hover{
	background-image: url(https://hugomark.jp/images/home/digital-marketing-1725340_1280.jpg);
	-moz-background-size:100% 100%; 
	background-size:100% 100%;
	background-repead: no-repead;
}
.card6:hover{
	background-image: url(https://hugomark.jp/images/home/digital-marketing-1725340_1280.jpg);
	-moz-background-size:100% 100%; 
	background-size:100% 100%;
	background-repead: no-repead;
}
@media (min-width: 600px) {
  .card {
    height: 350px;
    width: 350px;
  }
}
.card:before {
	/* background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none; */
}
.card:after {
	/* background-image: url(https://hugomark.jp/images/home/digital-marketing-1725340_1280.jpg); */
 /* padding-top: -200px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e); */
}
.card:nth-child(1):before {
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
}
.card:nth-child(1):before {
  background-image: url(https://hugomark.jp/images/home/cargo-449784_1280.jpg);
}
/* .card:nth-child(1):after {
 background-color: #000000;
} */
.card:nth-child(2):before {
  background-image: url(https://hugomark.jp/images/home/digital-marketing-1725340_1280.jpg);
}
.card:nth-child(3):before {
  background-image: url(https://hugomark.jp/images/home/laptop-5842509_1280.jpg);
}
.card:nth-child(4):before {
  background-image: url(https://hugomark.jp/images/home/hearts-16666_1280.jpg);
}
.card:nth-child(5):before {
  background-image: url(https://hugomark.jp/images/home/code-1839406_1280.jpg);
}
.card:nth-child(6):before {
  background-image: url(https://hugomark.jp/images/home/living-room-1835923_1280.jpg
  );
}


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}